/.idea/
.idea/
/.worktrees/
/.gradle/
/build/
/data
server/common-core/data
server/.gradle/
server/build/
server/.idea/
server/out/
server/target/
server/bootstrap-all/data
*/build
*/*/build
*/*/out
*/target
*/*/target
*/bin
*/*/bin
*/distro/docker/data
node_modules/
dist/
.dart_tool/
.env.local
